body {

    margin: 4em 10%;
}

li {
    
     height:2em;
    border: 0.1em ridge gray;
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    padding: 1em 0em;
    align-items: center;


}
.todo {
    text-align: center;
    color: rgba(255, 0, 0, 0.3);
    font-size: 6em;
}

ul {
    list-style-type: none;
    width:100%;

}

ul img {
    height: 1em;
    width: 1em;
}

li img {
	
    height: 0.7em;
    width: 0.7em;

}
.image{
	align-self: center;
}
.things-to-do-list input[type="text"] {
    border: none;
    width: 100%;
    font-size:2em;
    background-color: white;
}

ul .things-to-do-list {
    display: flex;
    border:0.1em  ridge gray;
}



ul .todo-information div {
    border: none;
}

ul .todo-information {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    padding: 1em 0em;
    border: 0.1em ridge black;
}

.todo-button {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button{
border:none;
background-color: white;
}